workflows/Bot_discord.json
[{"createdAt":"2025-10-01T12:52:34.050Z","updatedAt":"2025-10-02T12:27:49.590Z","id":"IL9WhzguxmnBvyk3","name":"Bot_discord","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"discord-trigger","options":{}},"id":"df3c121f-e277-49d1-b466-9d78b5806d3c","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1392,928],"webhookId":"5541a840-22fb-4b87-8cb3-ac0040fb63aa"},{"parameters":{"formTitle":"In which city do you want to play ?","formDescription":"In which city do you want to play ?","formFields":{"values":[{"fieldLabel":"city","placeholder":"ex: Lille, Nantes, ...","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-1056,272],"id":"1220c6bf-2601-4bb8-96c7-8e1bcee29708","name":"On form submission","webhookId":"9bf1c6fa-2692-46a7-a553-2ad131fcf6f5"},{"parameters":{"url":"=https://maps.googleapis.com/maps/api/place/textsearch/json?query=padel+à+{{$json.city}}&key=AIzaSyAfqIfkaM5hB_aAps-NdNqkVXsnQp_p_A8","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-768,256],"id":"93d84a7d-ac20-49ad-9f53-c9d138e1db87","name":"HTTP Request"},{"parameters":{"jsCode":"const places = $json.results || [];\n\n// on construit une seule string lisible\nconst list = places.map(place => {\n  const name = place.name || \"Nom inconnu\";\n  const address = place.formatted_address || \"Adresse inconnue\";\n  const lat = place.geometry?.location?.lat ?? \"N/A\";\n  const lng = place.geometry?.location?.lng ?? \"N/A\";\n  const open = place.opening_hours?.open_now ? \"✅ Ouvert\" : \"❌ Fermé\";\n\n  return `- ${name} | ${address} | (${lat}, ${lng}) | ${open}`;\n});\n\n// on renvoie une seule string prête pour OpenAI\nreturn [\n  {\n    json: {\n      padel_text: list.join(\"\\n\")\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,352],"id":"cdd5bef8-ff41-4314-9d0b-7805bbd34021","name":"Code in JavaScript"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1335950890129031302","mode":"list","cachedResultName":"Naissance enfant Antoine","cachedResultUrl":"https://discord.com/channels/1335950890129031302"},"channelId":{"__rl":true,"value":"1422521917629534300","mode":"list","cachedResultName":"onsenfout","cachedResultUrl":"https://discord.com/channels/1335950890129031302/1422521917629534300"},"content":"={{ $json.message.content }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[112,272],"id":"e8d39eca-570a-4ad7-a4c4-071b2aa588b0","name":"Send a message","webhookId":"de281cc8-d7ac-49eb-8bcf-51555846fee7","retryOnFail":true,"credentials":{"discordBotApi":{"id":"NUPvnVylfQqzdWA1","name":"Discord Bot account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"=Transforme cette liste en une autre plus compacte qui recense les salles ouvertes maintenant (open_now) avec le nom et l'adresse:\n{{ $json.padel_text}}\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[0,0],"id":"1c4a1933-5b1b-4e3a-b994-8efe9bd031fb","name":"Message a model","credentials":{"openAiApi":{"id":"6HMOcQeNd8afRoo8","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-304,1296],"id":"653e9deb-4f2c-4fff-8582-69f2e1d98243","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"6HMOcQeNd8afRoo8","name":"OpenAi account"}}},{"parameters":{"toolDescription":"utilise ce tool si le message utilisateur contient l'emoji croissant, ou le mot croissant","url":"=https://maps.googleapis.com/maps/api/place/textsearch/json?query=boulangerie+à+roubaix+59512&key=AIzaSyAfqIfkaM5hB_aAps-NdNqkVXsnQp_p_A8","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-48,1360],"id":"9906e012-c52f-4cc4-8eb7-58072bf763c0","name":"boulangerie"},{"parameters":{"description":"appelle ce tool si aucune autre option est viable","jsCode":"// Example: convert the incoming query to uppercase and return it\nreturn \"test\""},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[64,1360],"id":"0f2f9a01-4ec3-4bb8-b0bd-a75f01c25708","name":"fallback"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.author.id }}","rightValue":"=1205551299769278476","operator":{"type":"string","operation":"equals"},"id":"ecb9c8f0-8dcb-4819-8aa9-a8f003a62e49"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b7c7c25-a481-462a-8e59-7e2c2c360a2f","leftValue":"={{ $json.body.author.id }}","rightValue":"1292839243063889953","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4aa70ef1-954b-4490-8fe0-8161b8babd71","leftValue":"={{ $json.body.author.id }}","rightValue":"255750746945880065","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"none"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-1184,784],"id":"e98518f0-fd96-4169-a119-572b6de4cc8b","name":"Switch"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1335950890129031302","mode":"list","cachedResultName":"Naissance enfant Antoine","cachedResultUrl":"https://discord.com/channels/1335950890129031302"},"channelId":{"__rl":true,"value":"={{ $('Webhook Trigger').item.json.body.channel_id }}","mode":"id"},"content":"= {{ $json.insult }} <@1292839243063889953> :middle_finger:","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-256,848],"id":"7b5d427e-0613-455b-ba55-9147b9feacb6","name":"Goat","webhookId":"de281cc8-d7ac-49eb-8bcf-51555846fee7","retryOnFail":true,"credentials":{"discordBotApi":{"id":"NUPvnVylfQqzdWA1","name":"Discord Bot account"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1335950890129031302","mode":"list","cachedResultName":"Naissance enfant Antoine","cachedResultUrl":"https://discord.com/channels/1335950890129031302"},"channelId":{"__rl":true,"value":"={{ $('Webhook Trigger').item.json.body.channel_id }}","mode":"id"},"content":"=<@{{$json.body.author.id}}> :heart:","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-624,688],"id":"ccee6400-bb61-47a9-a8a2-9008c4a53d6b","name":"Ludi","webhookId":"de281cc8-d7ac-49eb-8bcf-51555846fee7","retryOnFail":true,"credentials":{"discordBotApi":{"id":"NUPvnVylfQqzdWA1","name":"Discord Bot account"}}},{"parameters":{"jsCode":"return JSON.parse($json[\"output\"]);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,1136],"id":"82701d3d-d0a6-4e53-9257-819b7fc596a3","name":"Parse json de la réponse"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1335950890129031302","mode":"list","cachedResultName":"Naissance enfant Antoine","cachedResultUrl":"https://discord.com/channels/1335950890129031302"},"channelId":{"__rl":true,"value":"={{ $('Webhook Trigger').item.json.body.channel_id }}","mode":"id"},"content":"=<@{{ $('Webhook Trigger').item.json.body.author.id }}>{{ $json.output }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1168,1184],"id":"45846d16-9975-4954-a416-05244c032e87","name":"réponse finale","webhookId":"de281cc8-d7ac-49eb-8bcf-51555846fee7","retryOnFail":true,"credentials":{"discordBotApi":{"id":"NUPvnVylfQqzdWA1","name":"Discord Bot account"}}},{"parameters":{"promptType":"define","text":"=Tu es un agent qui agit comme un routeur intelligent pour un bot Discord.  \nTa tâche est d’analyser le message de l’utilisateur et de choisir l’un des outils (tools) suivants :  \n\n1. **boulangerie**  \n   - Quand utiliser : si le message contient le mot \"croissant\" ou l’emoji 🥐.  \n   - Paramètres : aucun.\n\n2 . **sport**\n  - Quand utiliser : si le message contient un nom de sport et une ville.\n  - Paramètres : aucun.  \n\n3. **blagueur**\n  -Quand utiliser : si le message contient une demande expresse de faire rire l'utilisateur ou demande une blague.\n  -Paramètres : aucun.\n\n4. **fallback**  \n   - Quand utiliser : si aucun des cas ci-dessus n’est détecté.  \n   - Paramètres : aucun.  \n\n---\n\n⚠️ Règles importantes :  \n- Retourne **uniquement un JSON valide** avec les champs `tool`, `parameters` (si applicables), et `output`.\n- Ne retourne jamais de texte hors JSON.  \n- Pour chaque tool voici ce que tu dois retourner : \n* Pour boulangerie : tu retournes une adresse de boulangerie qui est en open_now = true ( ne référence pas open_now dans la réponse)\n* Pour sport : tu retournes un json qui a une clé sport avec le sport en valeur et une clé ville avec la ville en valeur\n* Pour blagueur : tu retournes une blague si possible en lien avec le contexte éventuel. (exemple : utilisateur demande une blague sur les pingouins). Si l'utilisateur fournit un type d'humour essaye de le suivre (exemple : fais moi une blague d'humour noir; fais moi une blague dans le style de bigard). Sinon invente\n* Pour fallback : tu retournes une réponse en rapport avec le message. Exemple : si c'est une question tu lui réponds; si on te demande comment tu vas tu lui réponds, etc...\n---\nmessage utilisateur :  {{ $json.body.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-288,1120],"id":"974a00da-7b7b-4640-b6f6-7cfacd8359d4","name":"Ai agent : Le décideur","executeOnce":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tool }}","rightValue":"sport","operator":{"type":"string","operation":"equals"},"id":"75c373c6-a67f-4e77-b47a-bea6ea541315"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"310da493-42c3-4884-a037-ed06fdf87ddb","leftValue":"={{ $json.tool }}","rightValue":"functions.sport","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[320,1120],"id":"d6aae3d4-4805-46ef-a1f8-5356fcfd36cf","name":"Switch1"},{"parameters":{"description":"appelle ce tool si tu détectes un nom de ville et un sport","jsCode":"// Example: convert the incoming query to uppercase and return it\nreturn \"\""},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[208,1360],"id":"b93fab57-fee3-4e06-a742-c1884281fb2f","name":"sport"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1335950890129031302","mode":"list","cachedResultName":"Naissance enfant Antoine","cachedResultUrl":"https://discord.com/channels/1335950890129031302"},"channelId":{"__rl":true,"value":"={{ $('Webhook Trigger').item.json.body.channel_id }}","mode":"id"},"content":"=<@{{ $('Webhook Trigger').item.json.body.author.id }}> \n{{ $json.message.content }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1264,976],"id":"85b091f7-616e-4a77-b2bf-ac1e989bed0d","name":"réponse finale1","webhookId":"de281cc8-d7ac-49eb-8bcf-51555846fee7","retryOnFail":true,"credentials":{"discordBotApi":{"id":"NUPvnVylfQqzdWA1","name":"Discord Bot account"}}},{"parameters":{"resource":"message","operation":"react","guildId":{"__rl":true,"value":"1335950890129031302","mode":"list","cachedResultName":"Naissance enfant Antoine","cachedResultUrl":"https://discord.com/channels/1335950890129031302"},"channelId":{"__rl":true,"value":"={{ $json.body.channel_id }}","mode":"id"},"messageId":"={{ $json.body.message_id }}","emoji":"🦄"},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-528,976],"id":"43d0e508-3a7f-4b7b-aa71-253790bfdb24","name":"Unicorn","webhookId":"401d79e9-ea45-4f94-a28b-686526bf5b5f","credentials":{"discordBotApi":{"id":"NUPvnVylfQqzdWA1","name":"Discord Bot account"}}},{"parameters":{"jsCode":"// Liste d'insultes Haddock version startuppeur\nconst insults = [\n  \"Bougre de pitch deck en carton !\",\n  \"Sacripant de levée de fonds avortée !\",\n  \"Bachi-bouzouk d’entrepreneur en sweat à capuche !\",\n  \"Éctoplasme de PowerPoint ambulant !\",\n  \"Moule à gaufres incubée au coworking !\",\n  \"Anthropopithèque de pivot raté !\",\n  \"Tonnerre de business plan bancal !\",\n  \"Ornithorynque de growth hacker de pacotille !\",\n  \"Amibe d’évangéliste blockchain !\",\n  \"Hurluberlu de CEO de lui-même !\",\n  \"Coloquinte de disrupteur de cafétéria !\",\n  \"Cornichon d’open space !\",\n  \"Bougre de KPI en peau de banane !\",\n  \"Énergumène d’ICO fantôme !\",\n  \"Triple buse d’agiliste en carton-pâte !\"\n];\n\n// Choisir une insulte aléatoirement\nconst randomInsult = insults[Math.floor(Math.random() * insults.length)];\n\n// Retourner en JSON pour que n8n l'utilise\nreturn [\n  {\n    json: {\n      insult: randomInsult\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,864],"id":"4f866e84-1233-4581-8152-56a0c262eaeb","name":"Insulte random"},{"parameters":{"description":"appelle ce tool si tu détectes une demande de blague ou d'humour","jsCode":"// Example: convert the incoming query to uppercase and return it\nreturn \"\""},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[-160,1360],"id":"c91f28f1-3153-4477-aaa0-84e337ee0b15","name":"blagueur"},{"parameters":{"url":"=https://maps.googleapis.com/maps/api/place/textsearch/json?query={{ $json.output.sport }}+à+{{ $json.output.ville }}&key=AIzaSyAfqIfkaM5hB_aAps-NdNqkVXsnQp_p_A8","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,912],"id":"dfe6d872-669c-4fef-a1d6-78bbe1c00785","name":"Recherche sport"},{"parameters":{"jsCode":"const places = $json.results || [];\n\n// on construit une seule string lisible\nconst list = places.map(place => {\n  const name = place.name || \"Nom inconnu\";\n  const address = place.formatted_address || \"Adresse inconnue\";\n  const lat = place.geometry?.location?.lat ?? \"N/A\";\n  const lng = place.geometry?.location?.lng ?? \"N/A\";\n  const open = place.opening_hours?.open_now ? \"✅ Ouvert\" : \"❌ Fermé\";\n\n  return `- ${name} | ${address} | (${lat}, ${lng}) | ${open}`;\n});\n\n// on renvoie une seule string prête pour OpenAI\nreturn [\n  {\n    json: {\n      padel_text: list.join(\"\\n\")\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,928],"id":"dc849eae-451b-4829-86d2-ec7130d1a9d5","name":"Json parser"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"=Transforme cette liste en une autre plus compacte qui recense les salles ouvertes maintenant (open_now) avec le nom et l'adresse. Ne ret\n{{ $json.padel_text}}\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[944,928],"id":"288bc5bd-f648-4340-9b84-1bbad1b8a382","name":"Formatage json en liste","credentials":{"openAiApi":{"id":"6HMOcQeNd8afRoo8","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15e3781f-a541-4914-88b5-7f7cb361efbd","leftValue":"={{ $json.body.content }}","rightValue":"=<@1422513436348387411>","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-864,1168],"id":"b60ea997-89a9-41e7-b0c2-52de3d905fdb","name":"Check mention"}],"connections":{"On form submission":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Check mention","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Ai agent : Le décideur","type":"ai_languageModel","index":0}]]},"boulangerie":{"ai_tool":[[{"node":"Ai agent : Le décideur","type":"ai_tool","index":0}]]},"fallback":{"ai_tool":[[{"node":"Ai agent : Le décideur","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Ludi","type":"main","index":0}],[{"node":"Insulte random","type":"main","index":0}],[{"node":"Unicorn","type":"main","index":0}]]},"Goat":{"main":[[]]},"Ludi":{"main":[[]]},"Parse json de la réponse":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Ai agent : Le décideur":{"main":[[{"node":"Parse json de la réponse","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Recherche sport","type":"main","index":0}],[{"node":"Recherche sport","type":"main","index":0}],[{"node":"réponse finale","type":"main","index":0}]]},"sport":{"ai_tool":[[{"node":"Ai agent : Le décideur","type":"ai_tool","index":0}]]},"Insulte random":{"main":[[{"node":"Goat","type":"main","index":0}]]},"blagueur":{"ai_tool":[[{"node":"Ai agent : Le décideur","type":"ai_tool","index":0}]]},"Recherche sport":{"main":[[{"node":"Json parser","type":"main","index":0}]]},"Json parser":{"main":[[{"node":"Formatage json en liste","type":"main","index":0}]]},"Formatage json en liste":{"main":[[{"node":"réponse finale1","type":"main","index":0}]]},"Check mention":{"main":[[{"node":"Ai agent : Le décideur","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b7f3aac0-884e-4e3e-9320-060e1690b47a","triggerCount":2,"tags":[],"shared":[{"createdAt":"2025-10-01T12:52:34.050Z","updatedAt":"2025-10-01T12:52:34.050Z","role":"workflow:owner","workflowId":"IL9WhzguxmnBvyk3","projectId":"1jZle7XxUuKObdkG","project":{"createdAt":"2025-09-29T11:32:49.997Z","updatedAt":"2025-09-29T11:48:02.354Z","id":"1jZle7XxUuKObdkG","name":"ludivine Raby <ludivine.raby@gmail.com>","type":"personal","icon":null,"description":null}}]}]